.parent{
    width: 600px;
    background-color: aqua;
    padding: 8px;
}
.child{
    width: 100%;
    background-color: burlywood;
    padding: 8px;
}
.grand{
    width: 100%;
    background-color: chartreuse;
    padding: 8px;
}